@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1673250947878') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  /* font-size: 16px; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before {
  content: "\e61e";
}

.icon-weixuanzhong:before {
  content: "\e633";
}

.icon-xuanzhong:before {
  content: "\e636";
}

